      <div class="footer">
         <div class="footer-infos">
            <p><strong>Association Rêves</strong> 333 allée Antoine Millan<br />
               BP 312. 01 603 TREVOUX Cedex<br />
               Tél : 04 74 08 87 70. Fax : 04 74 00 60 42
            </p>
         </div>
         <div class="liens-footer">
            <a href="index.html">Accueil</a>  |   <a href="liens-utiles.html">Liens utiles</a>   |   <a href="plan-site.html">Plan du site</a>   | <a href="mentions-legales.html"> Mentions légales</a>
         </div>
      </div>