<div class="header">
      <div class="logo">
         <a href="index.html"><img src="{{ asset('bundles/adesite/images/logo.png') }}" width="332" height="89" border="0" alt="" /></a> 
      </div>
      <div class="liens-top">
         <a href="devenir-partenaire.html" class="dev-part">Devenir partenaire</a>
         <a href="realiser-reve.html" class="realiser">Réaliser un rêve</a>
         <a href="devenir-benevoile.html" class="devenir-ben">Devenir bénévoile</a>
      </div>
      <div class="liens-right">
         <a href="faire-don.html" class="faire-don">Faire un don     </a>
         <div class="bloc-partage">
            <a href="https://www.facebook.com/reves" class="fcb">fcb</a>
            <a href="contact.html" class="contact">contact</a>
            <a href="https://twitter.com/reves" class="twitter">twitter</a>
         </div>
      </div>
</div>