/* Demo CSS - You do not need this css in your own slider */

body{
	/*font-family: "Open Sans", helvetica, arial;*/
}

pre{
	font-family: "Source Code Pro", monospace;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: whiteSmoke;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display:none;
}

/*h2{
	font-size: 48px;
}

pre + h2{
	margin-top: 80px;
}*/

#container{
	max-width:630px;
	margin:0 auto;
	padding-bottom:80px;
}

#banner-fade,
#banner-slide{
	/*margin-bottom: 60px;*/
}

ul.bjqs-controls.v-centered li a{
	/*display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
	background:url(images/but.png) no-repeat;*/
	text-indent:-9999px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
       filter: alpha(opacity=50);
       opacity:.5;
}

#banner-slide2 ul.bjqs-controls.v-centered li a{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
       filter: alpha(opacity=80);
       opacity:.8;
}

ul.bjqs-controls.v-centered li.bjqs-prev a{
	background:url(images/buttons.png) no-repeat 0 0;
	width:35px;
	height:38px;
}

ul.bjqs-controls.v-centered li.bjqs-next a{
	background:url(images/buttons.png) no-repeat -42px 0;
	width:35px;
	height:38px;
}

ul.bjqs-controls.v-centered li a:hover, #banner-slide2 ul.bjqs-controls.v-centered li a:hover{
	/*background:#000;*/
	color:#fff;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
       filter: alpha(opacity=100);
       opacity:1;
}

ol.bjqs-markers li a{
	/*padding:5px 10px;
	background:#000;
	color:#fff;*/
	margin:5px;
	text-decoration: none;
	text-indent:-9999px;
	width:12px;
	height:12px;
	display:in;
	cursor:pointer;
	background:url(images/but.png) no-repeat;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background:url(images/but-hover.png) no-repeat;
}

/*p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}*/